services:
  postgres:
    image: postgres:16-alpine
    restart: always
    container_name: postgres-travel
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    ports:
      - '${PG_PORT}:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - travel_network

  redis:
    image: redis:7-alpine
    container_name: travel_redis
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - '${REDIS_PORT}:6379'
    volumes:
      - redis_data:/data
    networks:
      - travel_network
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', '${REDIS_PASSWORD}', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
    name: travel-postgres-data
  redis_data:
    name: travel-redis-data

networks:
  travel_network:
    driver: bridge